.mejs-container {
	display: none;
}

header {
	height: 70%;
	text-align: center;
	background: #e74c3c;
 	position: relative;
}

a {
	/*color: #2c3e50;*/
}

.title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Londrina Outline', cursive;
	font-size: 80px;
	color: #2c3e50;
}

.player {
	background: #34495e;
	height: 10%;
 	position: relative;
}

.controls {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	width: 12vh;
    height: 12vh;
	background: #1abc9c;
	border-radius: 50%;
}

.controls:hover {
	background: #16a085;
}

.controls a {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 5vh;
	transform: translate(-50%, -50%);
	color: #34495e;
	cursor: pointer;
}

.controls:after {
	content: "";
	display: block;
	padding-left: 100%;
}


body {
	background: #ecf0f1;
}

.social {
	height: 5%;
	padding: 2.5%;
}

.mejs-offscreen {
	display: none;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	height: 10%;
}
